.error{
    box-sizing: border-box;
    margin-top: 36px;
    padding: 18px;
    width: 400px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;display: flex;
    
    background-color: rgb(190, 29, 29);
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}